{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": "."
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "jest",
    "prettier",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    // Prettier
    "prettier/prettier": "error",

    // React
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/jsx-sort-props": ["error", { "callbacksLast": true, "ignoreCase": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",

    // TypeScript
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/array-type": [
      "error",
      {
        "default": "array-simple"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],

    // Sort
    "simple-import-sort/sort": "error",
    "sort-imports": "off",

    // Others
    "no-console": "error"
  },
  "overrides": [
    {
      "files": ["pages/**/*.{ts,tsx}"],
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    }
  ]
}
